* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: linear-gradient(#d0d6d9, #b1b4ba);
    color: #d9e2f1;
    min-height: 100vh;
  }
  
  header {
    margin: 2rem 0;
    text-align: center;
  }
  
  header img {
    width: 15rem;
    height: 5rem;
    border-radius: 20%;
  
  }
  
  header h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin: 1rem 0;
    letter-spacing: 0.2rem;
    color: #2f4444;
  }
  